@import "./breakpoints";

.locationButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.mapContainer {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;

    @include md-down {
        top: 54px;
        left: 0;
        right: 0;
        bottom: 0;
    }
}   